openapi: 3.2.0
info:
  title: Sketchfab Data Orgs API
  description: 'The Sketchfab Data API v3 provides programmatic read and write access to Sketchfab content. Authenticated callers can upload new 3D models, edit model metadata and settings, manage collections, comments, likes, and bookmarks, search the public model catalog, and administer organizations and projects. Public endpoints (model search, model detail, user profile) are available without authentication.

    '
  version: v3
  contact:
    name: Sketchfab Developer Support
    url: https://support.fab.com/s/?ProductOrigin=Sketchfab
  license:
    name: Sketchfab Developer Terms of Use
    url: https://sketchfab.com/developers/terms
servers:
- url: https://api.sketchfab.com
  description: Production API
security:
- OAuth2: []
- ApiTokenAuth: []
tags:
- name: Orgs
  description: Organization, project, and member management.
paths:
  /v3/orgs/{org}:
    get:
      summary: Retrieve An Organization
      description: Get organization detail, including plan and member count, for organizations the caller belongs to.
      operationId: getOrg
      tags:
      - Orgs
      parameters:
      - name: org
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Organization detail.
  /v3/orgs/{org}/projects:
    get:
      summary: List Organization Projects
      description: List projects (workspaces) within an organization.
      operationId: listOrgProjects
      tags:
      - Orgs
      parameters:
      - name: org
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Project list.
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      description: Sketchfab OAuth 2.0. Access tokens are valid for one month.
      flows:
        authorizationCode:
          authorizationUrl: https://sketchfab.com/oauth2/authorize/
          tokenUrl: https://sketchfab.com/oauth2/token/
          refreshUrl: https://sketchfab.com/oauth2/token/
          scopes:
            read: Read access to the caller's account, models, and collections.
            write: Create, update, and delete the caller's models and collections.
    ApiTokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'Personal API token sent as `Authorization: Token <token>`.'
